@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Identity
@using Lift_application.Areas.Identity.Data
@inject SignInManager<Lift_applicationUser> SignInManager;
@inject UserManager<Lift_applicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    
    if (User.IsInRole("admin"))
    {
        <h1>AdminPanel</h1>

        <a asp-controller="UserPanel" asp-action="Publish">Публикация статей</a>
        <br />
                <a asp-controller="UserPanel" asp-action="CreateSender">Рассылки</a>
    }
    else
    {
        <p>Вы вошли в личный кабинет</p>
    }
}


else
{
}