@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "LA/Admin_La.cshtml";
}

<a href="~/UserPanel/Sender?email=@User.Identity.Name">Включить подписку</a>
<br />
<a href="~/UserPanel/DeleteSub?username=@User.Identity.Name">Отключить подписку</a>