@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Lift_application.Models.ParseModel>

<style>
    .result
    {
        background-color:gray;
    }
</style>
@foreach(var parsers in Model)
{
    <a class="result" href="@parsers.ParseResult">@parsers.ParseResult</a>
    <br />
}