@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "LA/Admin_La.cshtml";

}
@using Microsoft.AspNetCore.Identity
@using Lift_application.Areas.Identity.Data
@model Lift_application.Models.EmailForSend
@*<form method="post" action="~/UserPanel/Sender">
    
    <input type="hidden" name="Email" value="@Model.Email" />
    <input type="submit" value="Отправить" />
</form>*@


@*{
    @Html.BeginForm()
{
    @Html.EditorFor(model => model.Email);
    <input type="submit" value="Отправить" />
}*@
