
@{
    ViewData["Title"] = "Обо мне";
}
@model Lift_application.Models.SenderEmailModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <p>@Html.Raw(Model.email)</p>
</body>
</html>
