
@{
    ViewData["Title"] = "Обо мне";
}
@model IEnumerable<Lift_application.Models.EmailForSend>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    @foreach(var Emsender in Model)
    {
        <p>@Html.Raw(Emsender.Email)</p>
    }
    

</body>
</html>
