@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 @{
     ViewData["Title"] = "Отказ доступа";
 
 }
<h1>Not found: Отказ в доступе</h1>