<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lift_application</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <div id="logo" onclick="slowScroll('top')">
            <span>Creative</span>
        </div>
        <div id="about">
            <a href="#" title="Что-то" onclick="slowScroll('#Что-то')">Что-то</a>
            <a href="#" title="Что-то" onclick="slowScroll('#Что-то')">Что-то</a>
            <a href="#" title="Что-то" onclick="slowScroll('#Что-то')">Что-то</a>
            <a href="#" title="Что-то" onclick="slowScroll('#Что-то')">Что-то</a>
            </div>
    </header>
    <div id="top">
        <h1>Creative</h1>
        <h3>Creative</h3>
    </div>
    <div class="container" id="main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/ajax.js"></script>
    <script>
        function slowScroll(id) {
            $('html, body').animate({
                scrollTop: $(id).offset().top
            }, 500);
        }
        $(document).on("scroll", function () {
            if ($(window).scrollTop() === 0)
                $("header").removeClass("fixed");
            else
                $("header").attr("class", "fixed");
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
